body{
background-color: rgb(99, 143, 182);
font-family:Georgia, 'Times New Roman', Times, serif;
padding: 15% ;
text-align: center;
}

.b{
border: 2px solid rgba(158, 213, 245, 0.911);
background-color: rgba(59, 166, 253, 0.404);
border-radius: 5px;
margin-top: 60px;
margin-left: 200px;
height: 150px;
width: 200px;
padding: 8px;
padding-top: 50px;
}

a { 
text-decoration:none;
background-color: rgb(255, 255, 255);
border: none;
font-family:Georgia, 'Times New Roman', Times, serif;
font-size:large;
color: black;
border: 2px solid rgba(158, 213, 245, 0.911);
border-radius: 5px;
padding: 1px 6px;
cursor: pointer;
}

a:hover {
background-color: #b9f4ff;;
}



