body{
  border: 2px solid ;
  border-radius: 2%;
  padding:10px;
  width:600px;
  height:500px;
  margin:auto;
  margin-top: 10px;
}

h1{
  text-align: center;
}

input[type="text"]{
background-color: rgb(204, 204, 204); 
border: none;
border: 1px solid black;
border-radius: 2px;
font-family:Georgia, 'Times New Roman', Times, serif;
width:25px;
margin-left:150px ;
text-align: center;
padding-bottom: 15px;
display: grid;
}

a{
text-decoration: none;  
border: 2px solid black;
color:black;
padding:2px 5px;
margin-left:250px;
cursor: pointer;
}

p{
margin-left:270px;
}

.mot{
text-align: auto;
}

.canvas{
margin-left:420px ;
margin-top:-20px;
margin-right:12px;
border-radius: 2%;
border: 1px solid black; 
}